* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#612b82, #b821a6);
    background-attachment: fixed;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}