/* Header */
.header {
    margin-bottom: 20vh;
}

/* header_logo */
.header .header_logo {
    width: 15%;
    height: 20vh;
    float: left;
}

/* header_menu-list */
.header .header_menu-list {
    padding-top: 10vh;
}

.header .header_menu-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_menu-items {
    margin-left: 20px;
}

.header .header_menu-text {
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    font-size: 20px;
}

.header .header_menu-text:hover {
    background: #fff;
    color: #612b82;
}

/* header search */
.header .header_search {
    display: flex;
    padding-top: 15px;
}

.header .header_search label {
    color: #ffffff;
    font-size: 20px;
    padding-right: 10px;
}

.header .header_search .search_field input {
    width: 185px;
    height: 25px;
    border-radius: 20px;
    border: none;
    outline: 2px solid #b821a6;
    padding: 5px 10px 0px;
}

.header .header_search .search_field .icon-search {
    width: 15px;
    height: 15px;
    background: url(../images/icon-search.png) 0px 0px no-repeat;
    display: block;
    float: right;
    margin: 5px;
}

/* Banner */
.banner {
    align-items: center;
    width: 65%;
    padding-left: 350px;
    position: relative;
}

.wrap {
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.heading {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    padding-top: 70vh;
}

/*img and News*/
.main_news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: relative;
    padding-top: 40px
}

.img_news {
    height: 320px;
    width: 322px;
    margin: 0px 9px 12px;
}

.img_news img {
    height: 195px;
}

.col_img_news {
    overflow: hidden;
    text-align: center;
}

.img_news a .col_img_news img {
    transform: scale(1);
    transition: all .4s ease-in;
}

.img_news a:hover img {
    transform: scale(1.2);
}

.img_news a:hover .text_news {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.text_news {
    overflow-wrap: anywhere;
    margin: 2px 0;
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: url(../images/bg1.webp);
}

.facebook-group-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.facebook-group-wrap .facebook-group-title {
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 1.8;
}

.facebook-group-wrap .facebook-group-action {
    margin-top: 30px;
}

.facebook-group-wrap .facebook-group-action a {
    color: #fff;
    background: #f5498b;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 50px;
    border-radius: 30px;
}