img {
    width: 100px;
}

body {
    background: #e7bee4;
}

product-item {
    width: 22%;
    margin: 20px 15px;
    display: inline-block;
}

.heading {
    font-size: 25px;
    text-align: center;
    color: chocolate;
}